/* About.css */
.about-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

section {
  margin-bottom: 50px;
}

.about-me {
  background-color: #fff; /* White background */
  border: 1px solid #ddd; /* Light border similar to project items */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(0,0,0,0.1); 
  font-weight: bold;
  margin: auto; /* Center the section */
  max-width: 75%; /* Set a maximum width */
  margin-bottom: 50px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  position: relative;
}

/* h2::after {
  content: '';
  display: block;
  height: 3px;
  width: 100px;
  background: #007bff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
} */

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.project-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  position: relative; /* Added for absolute positioning of the image */
  overflow: hidden; /* Ensures the image does not exceed the boundaries of the item */
}

.project-image {
  width: 100%;
  height: 200px; /* Fixed height, or you can make it responsive */
  background-size: cover;
  background-position: center;
  margin-bottom: 20px; /* Space between image and text */
}

.project-item:hover {
  transform: translateY(-5px);
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.skill-item {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  font-size: 0.85rem;
}

.github-icon-link,
.arrow-icon-link {
  font-size: 1.5rem;
  margin-left: 8px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 4rem;
}

.contact-icons a {
  color: #007bff;
  transition: color 0.3s ease;
}

.contact-icons a:hover {
  color: white;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to ensure it's above everything else */
}

.popup-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer; /* Indicates that the image can be closed */
}

.popup-content img {
  max-width: 100%;
  max-height: 100%;
}

.professional-projects .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 50%)); /* 50% width for professional projects */
  gap: 30px;
  justify-content: center; /* Center the items if they don't fill the entire row */
}

.project-item .project-image {
  background-size: contain; /* Adjust so that the entire image fits */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.project-title {
  text-align: center;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px; /* Spacing from the text */
}

.toggle-button i {
  font-size: 24px; /* Adjust icon size as needed */
  color: #007bff; /* Example color */
}


@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .skill-item {
    font-size: 0.75rem;
  }

  
}
