
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
.project-item {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
  
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin-top: 10px;
}
  
.skill-item {
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
  
  /* About.css */
.skill-item {
    /* Apply the lavalamp background to the skill item boxes */
    background: linear-gradient(-45deg, #ff4e50, #fc913a, #f9d423, #17b978, #00a1ff, #7328a6, #e24383);
    background-size: 300% 300%;
    animation: gradientAnimation 15s linear infinite;
}
  

.arrow-icon-link,
.github-icon-link {
  margin-left: 10px;
}