
  
  /* Optional: If you want to add some space to the top of the page to prevent content from being covered by the navbar */
  body {
    padding-top: 70px; 
    /* Adjust the value as needed based on your navbar height */
  }
  
  /* NavBar.css */

/* Add your dark blue background color here */
.navbar-custom {
    background-color: #3fa6d9; /* Dark blue background color */
  }
  
  /* Add the navbar-sticky class to control z-index and position */
  .navbar-sticky {
    position: sticky;
    z-index: 100;
  }

/* Style for the title */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.navbar-brand:hover { /* Change color on hover */
  transform: scale(1.05); /* Add a slight scale effect on hover */
}
  
  

  